@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Магазин електроніки "JO SHOP"</h2>
    <h3>Тут ви можете вибрати та придбати електронні товари</h3>
    <!--<div style="overflow: hidden; width:552; height:552; ">
        <div style="margin-top: -100; ">       
         <img src="https://www.pngall.com/wp-content/uploads/12/Macbook-PNG-Free-Image.png" >
        </div>
    </div>-->

    <p> <img src="https://www.pngall.com/wp-content/uploads/12/Macbook-PNG-Free-Image.png" width="552" height="552" ></p>

</div>