@model IEnumerable<OlineShopWebApplication.CustomerÀdress>

@{
    ViewData["Title"] = "Map";
}


<h3>Карта з позначками адрес покупців</h3>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYmyGdDqm_fVp9vSEAj9bALkpkjH6xcfU&callback=initMap"></script>

