@{
    ViewData["Title"] = "Home Page";
}

<head>
    @using Microsoft.AspNetCore.Http.Extensions
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Інтернет-магазин техніки, Iphone, Samsung, Asus" />
    <meta name="keywords" content="prodct details, products, techno shop, shop, technics, Iphone, Asus, Samsung, client, інтернет-магазин, машазин, техніка, купити техніку, Епл, Самсунг, Асус, телефон, ноутбук, наушники" />
</head>

<div class="text-center">
    <h1 class="display-4" align="center">JO SHOP</h1>
    <h5 align="center"> <label> "JO SHOP" - here you can buy the technics you need </label> </h5>
    <h5 align="center">Магазин електроніки "JO SHOP" - тут ви можете вибрати та придбати електронні товари</h5>

    <p> <img src="https://www.pngall.com/wp-content/uploads/12/Macbook-PNG-Free-Image.png" width="552" height="552" alt="MacBook Air, Макбук аір"></p>

</div>