@{
    ViewData["Title"] = "Політика приватності";
}
<h1>@ViewData["Title"]</h1>

<p>Всі права захищені</p>
<p>Користуючись нашими послугами, ви довіряєте нам свою інформацію. Ми розуміємо, що це велика відповідальність, і наполегливо працюємо, щоб захистити вашу інформацію та забезпечити контроль над нею.</p>
